.search-container {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 500px;
    min-height: 64px;
    border-radius: 6px;
}

.search-container input {
    border: none;
    padding: 0 16px;
    font-size: 20px;
    outline: none;
    color: #000000;
    width: 85%;
    background-color: transparent;
}

.search-container input::placeholder {
    color: #000000;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 15%;
}

.search-button button{
    background-color: #005CFF;
    border: none;
    width: 62px;
    height: 62px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-container button:hover {
    background-color: #0050FF;
}

@media (max-width: 650px) {
    .search-button {
        width: 20%;
    }
}